<div class="d-flex justify-content-center align-items-center" style="height: 80vh; background-image: url('https://townsquare.media/site/295/files/2022/04/attachment-RHCP-collage-3.jpg'); color: white;">
        <form action="/auth/registrationProccess" method="post" class="col-md-8 col-lg-4 p-5" style="background-color:rgba(52, 52, 52, 0.898);" >
            <div class="form-group">
                <label for="exampleInputEmail1" class="p-1">Ime:</label>
                <input type="text" class="form-control p-1" name="firstname" placeholder="Unesite ime..." required>
                    
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1" class="p-1">Prezime:</label>
                <input type="text" class="form-control p-1" name="lastname" placeholder="Unesite prezime..." required>
                   
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1" class="p-1">Email:</label>
                <input type="email" class="form-control p-1" name="email" placeholder="Unesite email..." required>
                    
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1" class="p-1">Korisnicko ime:</label>
                <input type="text" class="form-control p-1" name="username" placeholder="Unesite korisnicko ime.." required>
                    <%if(typeof data.msg!='undefined'){%>
                    <div class="h6 text-danger text-center"><%=data.msg%></div>
                    <%}%>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1" class="p-1">Lozinka:</label>
                <input type="password" class="form-control p-1" type="password" name="password" placeholder="Unesite lozinku.." required>
              
            </div>
            <br>
            <div class="d-flex justify-content-between">  
                <button type="submit" class="btn btn-primary">Registracija</button>
                <button type="reset" class="btn btn-primary">Reset</button>
                <!--<a href="/"><button class="btn btn-primary">Pocetna</button></a>-->
            </div>
    
            <a class="dropdown-item p-1" href="/auth/login">Vec imate korisnicki nalog? Prijavite se.</a>
          </form>
</div>