<div class="d-flex justify-content-center align-items-center" style="height: 80vh; color: white;">
    <form action="/admin/addAlbum" method="post" class="col-md-8 col-lg-6 p-5 bg-dark">
        <div class="form-group">
            <label for="exampleInputEmail1" class="p-1">Album:</label>
            <input type="text" class="form-control p-1" name="album_name" placeholder="Unesite ime albuma..." required>
                
        </div>
        <br>
        <div class="d-flex justify-content-between">  
            <button type="submit" class="btn btn-primary">SaÄuvaj</button>
            <button type="reset" class="btn btn-primary">Resetuj</button>
            <!--<a href="/"><button class="btn btn-primary">Pocetna</button></a>-->
        </div>
      </form>
</div>