<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://alterock.net/wp-content/uploads/2016/06/Alterock-RHCP_logo_2015.jpg"
        class="d-block w-100"
        height="450px"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.theticketmerchant.com.au//media/catalog/category/Red_Hot_Chili_Peppers_Banner.jpg"
        class="d-block w-100"
        height="450px"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://fbcoverstreet.com/thumbnail/9G9Xffls4vh4GHYhtrSvUBnjtG6XEXNTXcDqtlFW2MjCb7OAooa9llz8bYnYiOof.webp"
        class="d-block w-100"
        height="450px"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://thumbs.dreamstime.com/b/music-audio-equipment-audio-beats-sound-headphones-music-application-mobile-smartphone-screen-recording-sound-voice-dark-221273947.jpg"
        class="d-block w-100"
          height="450px"
        alt="..."
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
