<div class="col-xl-12 p-3 bg-primary">
  <div class="text-center">
    <p class="icons-home p-3">
      <a
        href="https://www.facebook.com/ChiliPeppers/"
        class="p-3"
        aria-label="Facebook"
        style="text-decoration: none"
      >
        <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff"></i>
      </a>

      <a
        href="https://twitter.com/chilipeppers"
        class="p-3"
        aria-label="Twitter"
        style="text-decoration: none"
      >
        <i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff"></i>
      </a>

      <a
        href="https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
        class="p-3"
        aria-label="Spotify"
        style="text-decoration: none"
      >
        <i class="fa-brands fa-spotify fa-2xl" style="color: #ffffff"></i>
      </a>

      <a
        href="https://music.apple.com/us/artist/red-hot-chili-peppers/889780"
        class="p-3"
        aria-label="Apple"
        style="text-decoration: none"
      >
        <i class="fa-brands fa-apple fa-2xl" style="color: #ffffff"></i>
      </a>

      <a
        href="https://www.youtube.com/c/RedHotChiliPeppers"
        class="p-3"
        aria-label="YouTube"
        style="text-decoration: none"
      >
        <i class="fa-brands fa-youtube fa-2xl" style="color: #ffffff"></i>
      </a>

      <a
        href="https://soundcloud.com/red-hot-chili-peppers-official"
        class="p-3"
        aria-label="SoundCloud"
        style="text-decoration: none"
      >
        <i class="fa-brands fa-soundcloud fa-2xl" style="color: #ffffff"></i>
      </a>
    </p>
  </div>
  <div class="text-center">
    <a
      href="https://siriusxm.us/RedHot"
      rel="noopener"
      aria-label="Flea Loves Episode 2 on SiriusXM Channel 315 Whole Lotta Red Hot"
      target="_blank"
    >
      <img
        src="https://d33wubrfki0l68.cloudfront.net/093a3b1a38fb3eaac7cc5765c208091e1d486494/c5498/assets/img/channel-logo.png"
        class="img-fluid"
        style="margin: 10px 0; max-width: 180px"
        alt="SiriusXM Channel 315 Whole Lotta Red Hot"
      />
    </a>
  </div>
</div>
