<!-- <h1>Pocetna strana index.ejs</h1> -->

<!-- <div class="container"> -->
<%-include('../mainParts/blogVideo')%> <%-include('../mainParts/x')%>
<%-include('../mainParts/slider.ejs')%> <%-include('../mainParts/songVideo')%>
<!-- </div> -->
