<ul class="nav nav-pills m-4" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Flea</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
      Chad Smith</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
      John Frusciante</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-cetvrti-tab" data-bs-toggle="pill" data-bs-target="#pills-cetvrti" type="button" role="tab" aria-controls="pills-cetvrti" aria-selected="false">Anthony Kiedis</button>
  </li>
</ul>


<div class="tab-content m-5" id="pills-tabContent">

  <div class="row  tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="card mb-4 col-xl-12">
      <div class="row g-0">
        <div class="col-xl-4">
          <img style="width: 550px; height: 730px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/2016_Red_Hot_Chili_Peppers_-_Michael_Flea_Balzary_%28cropped%29.jpg/800px-2016_Red_Hot_Chili_Peppers_-_Michael_Flea_Balzary_%28cropped%29.jpg" class="img-fluid  p-5" alt="...">
        </div>
      <div class="col-xl-8">
        <div class="card-body p-5">
          <h5 class="card-title">Michael Peter Balzary-Flea</h5>
          <p class="card-text">
            Michael Peter Balzary (born October 16, 1962), known professionally as Flea, is an Australian-American musician and actor. He is a founding member and bassist of the rock band Red Hot Chili Peppers.

            Flea was born in Melbourne, Victoria; his family moved to Rye, New York, when he was four. After his parents divorced, Flea spent his childhood in the United States and Australia, before settling in California. At high school, he befriended singer Anthony Kiedis, with whom he formed the Red Hot Chili Peppers in 1983. Flea is also a member of the supergroups Atoms for Peace, Antemasque, Pigface, and Rocket Juice & the Moon, and has played with acts including the Mars Volta, Johnny Cash, Tom Waits, Alanis Morissette, Young MC, Nirvana, What Is This?, Fear, and Jane's Addiction.
            
            Flea incorporates elements of funk (including slap bass), psychedelic, punk, and hard rock in his playing. In 2009, Rolling Stone readers ranked Flea the second-best bassist of all time, behind John Entwistle.[1] In 2012, he and the other members of Red Hot Chili Peppers were inducted into the Rock and Roll Hall of Fame.[2] Since 1984, Flea has acted in films and television series such as Suburbia, Back to the Future Part II and Part III, My Own Private Idaho, The Chase, Fear and Loathing in Las Vegas, Dudes, Son in Law, The Big Lebowski, Low Down, Baby Driver, Boy Erased, The Wild Thornberrys, Obi-Wan Kenobi, and Babylon.
            
            Flea is the co-founder of Silverlake Conservatory of Music, a non-profit organization founded in 2001 for underprivileged children. In 2019, he published a memoir of his early life, Acid for the Children.
            Michael Peter Balzary was born on October 16, 1962, in Melbourne, Victoria, Australia. He is of partial Hungarian and Irish descent. His father, Mick Balzary, an avid fisherman, often took him fishing.[3] When Flea was four, his family moved to Rye, New York, for his father's career. In 1971, his parents divorced, and his father returned to Australia. Flea returned to Australia to spend time with his father, completing three years of school in the national capital Canberra. Flea and his sister Karyn stayed with their mother Patricia, who subsequently married jazz musician Walter Urban (1941–2011).[4]

Flea's stepfather frequently invited musicians to his house for jam sessions. The family moved to Los Angeles, California, where Flea became fascinated by the trumpet.[5][6] He had no interest in rock music at the time; he idolized jazz musicians like Miles Davis, Louis Armstrong and Dizzy Gillespie.[5] Flea described his childhood home as violent; his stepfather was an aggressive alcoholic who eventually became involved in shoot-outs with police. Flea said: "I grew up being terrified of my parents, particularly my father figures. It caused [me] a lot of trouble later in life."[7] To cope, Flea began smoking cannabis at 13, and became a daily user.[8]

He was first called "Flea" as a teenager for his seeming inability to sit still, and the nickname stuck.[9] Nicknamed Mike B. the Flea, he attended Fairfax High School, and was something of an outcast due to his taste in music.[8] However, he soon met Anthony Kiedis, and after a brief confrontation, the two became best friends.[10] Kiedis recalled: "We were drawn to each other by the forces of mischief and love and we became virtually inseparable. We were both social outcasts. We found each other and it turned out to be the longest-lasting friendship of my life."[11]

Flea was introduced to rock music by Hillel Slovak, and particularly punk rock by Kiedis. 
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="card mb-4 col-xl-12">
      <div class="row  g-0">
        <div class="col-xl-4">
          <img style="width: 550px; height: 730px;" src="https://i.pinimg.com/originals/3c/50/b0/3c50b0d2af76b09fba8cf7af4d6bac1d.jpg" class="img-fluid p-5" alt="...">
        </div>
      <div class="col-xl-8">
        <div class="card-body p-5">
          <h5 class="card-title">Chad Smith</h5>
          <p class="card-text">
            is an American musician who has been the drummer of the rock band Red Hot Chili Peppers since 1988. The group was inducted into the Rock and Roll Hall of Fame in 2012. Smith is also the drummer of the hard rock supergroup Chickenfoot, formed in 2008, and of the all-instrumental outfit Chad Smith's Bombastic Meatbats, formed in 2007. He worked with the Chicks on Taking the Long Way, an album that won five Grammy Awards in 2007.

            Smith has recorded with Glenn Hughes, Johnny Cash, John Fogerty, Geezer Butler, Jennifer Nettles, Kid Rock, Jake Bugg, the Avett Brothers, Joe Satriani, Post Malone, Eddie Vedder, Lana Del Rey and Halsey. In 2010, joined by Dick Van Dyke and Leslie Bixler, he released Rhythm Train, a children's album which featured Smith singing and playing various instruments. In 2020, Smith co-wrote and performed as part of the backing band on Ozzy Osbourne's album, Ordinary Man, and again in 2022 on Patient Number 9.
            
            Spin magazine placed Smith at #10 on their list of the "100 Greatest Drummers of Alternative Music" in May 2013.[3] Readers of UK-based Rhythm magazine ranked Smith and Red Hot Chili Pepper bassist Flea the fourth-greatest rhythm section of all time in their June 2013 issue.[4] Smith is also known for his charity work especially with young musicians. He has been a lobbyist in support of music education in U.S. public schools. Smith is also the host of the PBS concert series Landmarks Live in Concert, which began in January 2017.
            Smith was born in St. Paul, Minnesota, the third child of Joan and Curtis Smith. He spent most of his childhood in Bloomfield Hills, Michigan, where he graduated from Lahser High School in 1980. He started to play drums at age seven and grew up listening mainly to bands such as Rush, the Rolling Stones, Humble Pie, Pink Floyd, Black Sabbath, Led Zeppelin, Deep Purple, the Who, the Jimi Hendrix Experience, and Kiss.[5]

Chad did not receive formal drum lessons, and gained drumming experience by playing in school bands.[6] He ran away from home when he was 15, but returned home after a summer.[6][7]

Smith spent his early years in various rock bands, starting in high school with a band called Paradise, where they won the battle of the bands in Birmingham, Michigan, in 1977. That first band included members, Jay Yang (bass), Scott Porter (lead guitar) and Tom Auch (roadie). Future bands included Pharroh and Michigan-based band Toby Redd. Pharroh's percussionist Larry Fratangelo, who also worked with Parliament-Funkadelic, introduced Smith to R&B and funk music and taught him how to play funk. Smith said, "I think up until then, I was a drummer. Once I studied with Larry, I turned into a musician."[8] Funk drummers like David Garibaldi, Jabo Starks, Clyde Stubblefield, and Greg Errico caught his attention and influenced his style a lot.[9] Later, Smith decided to move to California to pursue his musical aspirations.

          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="card mb-4 col-xl-12">
      <div class="row  g-0">
        <div class="col-xl-4">
          <img style="width: 550px; height: 730px;" src="https://i.pinimg.com/474x/76/a1/bd/76a1bdb3fa3131c4a397d31e54438e99--john-frusciante-chilis.jpg" class="img-fluid p-5" alt="...">
        </div>
      <div class="col-xl-8">
        <div class="card-body p-5">
          <h5 class="card-title">John Frusciante</h5>
          <p class="card-text">
            is an American musician. He has been the guitarist for the Red Hot Chili Peppers across three stints (1988–1992, 1998–2009, 2019–present), and has released 11 solo albums and 7 EPs, ranging in style from acoustic guitar to electronic music. In 2003, Rolling Stone named Frusciante the 13th-greatest guitarist of all time. He was inducted into the Rock and Roll Hall of Fame as a member of the Red Hot Chili Peppers in 2012.

Frusciante joined the Chili Peppers at the age of 18 after the death of guitarist Hillel Slovak, and first appeared on their album Mother's Milk (1989). His second album with the band, Blood Sugar Sex Magik (1991), was their breakthrough success. Overwhelmed by the band's newfound popularity, he quit in 1992. He became a recluse and entered a period of heroin addiction, during which he released his first solo recordings: Niandra LaDes and Usually Just a T-Shirt (1994) and Smile from the Streets You Hold (1997). In 1998, he completed drug rehabilitation and rejoined the Chili Peppers, taking them to major success with their albums Californication (1999), By the Way (2002), and Stadium Arcadium (2006).

Frusciante's solo work encompasses genres including experimental rock, ambient music, and electronica. He released six albums in 2004, each exploring different genres and recording techniques. In 2009, Frusciante released The Empyrean, which features Chili Peppers bassist Flea and guitarist Josh Klinghoffer and again parted ways with the Chili Peppers before rejoining them in 2019. Frusciante also releases acid house under the alias Trickfinger. With Klinghoffer and Joe Lally, he has released two albums as Ataxia.
Frusciante was born in Queens, New York City, on March 5, 1970.[1] His father, John Augustus Frusciante, is a Juilliard-trained pianist, who later became a lawyer and then circuit court judge in Florida.[2] His mother, Gail Bruno, was a promising vocalist who gave up her career to be a stay-at-home mother.[3] Frusciante is of Italian ancestry.[4]

Frusciante's family moved to Tucson, Arizona, and then Florida, where his father served as a Broward County judge until October 2010.[5] His parents separated, and he and his mother moved to Santa Monica, California.[3]

A year later, Frusciante and his mother moved to Mar Vista, Los Angeles, with his new stepfather, who, he says, "really supported me and made me feel good about being an artist".[3] He became involved in the Los Angeles punk rock scene. At age nine, he became fixated on The Germs, repeatedly listening to their album (GI). He would later use a non-standard tuning of his own invention to play songs from the album single-finger barre.[3]

Frusciante began studying guitarists such as Jeff Beck, Jimmy Page, David Gilmour and Jimi Hendrix at 11. He discovered Frank Zappa, whose work he would study for hours.[3] He dropped out of high school at age 16 with the permission of his parents and upon completion of a proficiency test.[6] With their support, he moved to Los Angeles to develop his musicianship.[6] He began taking classes at the Guitar Institute of Technology, but turned to punching in without actually attending and left shortly thereafter.

          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="pills-cetvrti" role="tabpanel" aria-labelledby="pills-cetvrti-tab">
    <div class="card mb-4 col-xl-12">
      <div class="row  g-0">
        <div class="col-xl-4">
          <img style="width: 550px; height: 730px;" src="https://i.etsystatic.com/34551728/r/il/e2f98d/4520117350/il_1080xN.4520117350_8t30.jpg" class="img-fluid p-5" alt="...">
        </div>
      <div class="col-xl-8">
        <div class="card-body p-5">
          <h5 class="card-title">Anthony Kiedis</h5>
          <p class="card-text">
            is an American singer and songwriter. He is a founding member and lead vocalist of the rock band Red Hot Chili Peppers. Kiedis and his fellow band members were inducted into the Rock and Roll Hall of Fame in 2012.

            Kiedis spent his youth in Grand Rapids, Michigan, with his mother, and then moved shortly before his twelfth birthday to live with his father in Hollywood. While attending Fairfax High School, Kiedis befriended students Flea and Hillel Slovak, who were members of a band called Anthym. After high school, Kiedis began taking classes at UCLA but dropped out in his sophomore year.
            
            When Kiedis received an offer to be the opening act for a local band, he enlisted Flea, Slovak, and drummer Jack Irons. After a show under the name Tony Flow and the Miraculously Majestic Masters of Mayhem, the band progressed and the line-up eventually became the Red Hot Chili Peppers. He has recorded thirteen studio albums with the Red Hot Chili Peppers.
            
            Kiedis's lyrical style has evolved throughout his career; early recordings discussed topics such as sex and life in Los Angeles, while more recent songs focus on more reflective themes including love, addiction, and loss. He struggled with addiction until 2000, and maintains that he has been clean since then.
            Kiedis was born in Grand Rapids, Michigan, to Margaret "Peggy" Nobel[2] and struggling actor John Michael Kiedis, known professionally as Blackie Dammett.[3] His paternal grandfather's family emigrated from Lithuania in the early 1900s. In 2004 he wrote that his paternal grandmother, Molly Vandenveen's heritage "was a pastiche of English, Irish, French, and Dutch (and, as we've recently discovered, some Mohican blood)".[4] In 1966, when Kiedis was three years old, his parents divorced, and he was raised by his mother in Grand Rapids. His mother later remarried and had two more children.[5] Each summer, Kiedis would visit his father in Hollywood for two weeks, a time during which the two would bond. He idolized his father and recalled: "Those trips to California were the happiest, most carefree, the-world-is-a-beautiful-oyster times I'd ever experienced."[6] In 1974, when Kiedis was 12, he moved to Hollywood to live with his father full-time.[7]

Kiedis's father sold drugs, which had an impact on Kiedis, as the two would often use marijuana and cocaine together.[8] Kiedis accidentally tried heroin for the first time at age 14, mistaking it for cocaine.[9] Through his father, Kiedis, who worked under the stage name of Cole Dammett, landed his first acting role appearing as Sylvester Stallone's character's son in the 1978 film, F.I.S.T. He landed two more acting jobs, in an ABC Afterschool Special and an appearance in the film Jokes My Folks Never Told Me.[citation needed]

Kiedis attended Fairfax High School in Los Angeles, where he struggled to find friends as he had recently transferred to a new school district. However, he soon met his future bandmate Flea, and after a brief confrontation, the two became best friends and bonded while sitting next to each other in driver's ed class.[9][10] Kiedis recalled, "We were drawn to each other by the forces of mischief and love and we became virtually inseparable. We were both social outcasts. We found each other and it turned out to be the longest-lasting friendship of my life."[11] Kiedis became a significant influence on Flea, exposing him to rock music, particularly punk rock.[11] At age 15, while Kiedis and Flea were jumping from a building into a swimming pool, Kiedis missed the pool and broke his back, but recovered.[12]

          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>